<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">
        <div th:replace="sidebar :: fsidebar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="topbar :: ftopbar"></div>
                <div class="container-fluid">
					<h4 class="mb-2 text-gray-800">Phân loại CITES</h5>
					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
					    <li class="breadcrumb-item"><a th:href="@{/}">Phân loại CITES</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Sửa</li>
					  </ol>
					</nav>
					
					<form th:action="@{/cites/add}" method="post" th:object="${cite}">
					<div style="padding-right: 40%;">
							<div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-2 col-form-label">Tên</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" name="name" th:field="*{name}">
							    </div>
							</div>
							<div class="mb-3 row">
							    <label for="inputPassword" class="col-sm-2 col-form-label">Nội dung</label>
							    <div class="col-sm-10">
							      <textarea rows="6" class="form-control" name="content" th:field="*{content}"></textarea>
								</div>
							</div>
							<div class="mb-3 row">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<div class="row">
										<button  type="submit" class="col-sm-3" style="border-width: 2px; border-radius: 4px; background: #105378; border-color: #105378; margin-left:10px; color: white;">Lưu</button>
										<div class="col-sm-3"></div>
										<button class="col-sm-3" style="border-width: 2px; border-radius: 4px; background: #105378; border-color: #105378"><a th:href="@{/family/add}" style="color: white;">Quay lại</a></button>
									</div>
								</div>
							</div>
					</div>
					</form>
				</div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div th:if="${result=='fail'}">
    	<script >
    		alert("Cập nhật không thành công");
    	</script>
    </div>
    <div th:if="${result=='success'}">
    	<script >
    		alert("Cập nhật thành công");
    		var s="/cites";
    		window.location.href=s;
    	</script>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>

</html>