<div th:fragment="fsidebar">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Admin</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/}"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo"> <span>Quản lý</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/cateWood}">Nhóm loại gỗ</a>
						<a class="collapse-item" th:href="@{/wood}">Loài gỗ</a> 
						<a class="collapse-item" th:href="@{/family}">Họ thực vật</a> 
						<a class="collapse-item" th:href="@{/area}">Vùng địa lý</a> 
						<a class="collapse-item" th:href="@{/glossary}">Thuật ngữ</a> 
						<a class="collapse-item" th:href="@{/cites}">Phân loại CITES</a>
							<a class="collapse-item" th:href="@{/preservation}">Xếp loại trong danh
							sách đỏ IUCN</a>
							<a class="collapse-item" th:href="@{/category-blog}">Danh mục bài viết</a>
							<div class="collapse-divider"></div>
							<a class="collapse-item" th:href="@{/voucher}">Mã giảm giá</a>
							<div class="collapse-divider"></div>
							<h6 class="collapse-header" style="color: black;">Bài viết :</h6>
							<a class="collapse-item" th:href="@{/blog?status=publish}">Bài viết đã xuất bản</a>
							<a class="collapse-item" th:href="@{/blog?status=draft}">Bài viết nháp</a>
							<h6 class="collapse-header" style="color: black;">Câu hỏi đáp :</h6>
							<a class="collapse-item" th:href="@{/contact}">Danh sách câu hỏi đáp</a>
					</div>
				</div></li>

			<!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUtilities"
				aria-expanded="true" aria-controls="collapseUtilities"> <span>Thống kê</span>
			</a>
				<div id="collapseUtilities" class="collapse"
					aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/stat/getServiceStatShow}">Thống kê doanh thu theo dịch vụ</a> 
						<a class="collapse-item" th:href="@{/stat/getListUsedService}">Thống kê hóa đơn</a>
					</div>
				</div></li>
			
			<!--  
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapsePages"
				aria-expanded="true" aria-controls="collapsePages"> 
			<span>Quản lý tài khoản</span>
			</a>
				<div id="collapsePages" class="collapse"
					aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Login Screens:</h6>
						<a class="collapse-item" href="login.html">Login</a> <a
							class="collapse-item" href="register.html">Register</a> <a
							class="collapse-item" href="forgot-password.html">Forgot Password</a>
						<div class="collapse-divider"></div>
						<h6 class="collapse-header">Other Pages:</h6>
						<a class="collapse-item" href="404.html">404 Page</a> <a
							class="collapse-item" href="blank.html">Blank Page</a>
					</div>
				</div></li>
			-->
			<!-- Divider 
			<hr class="sidebar-divider d-none d-md-block">
			-->
			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
			
</ul>
</div>